.resume {
	max-width: 500px;
}
.resume .title{
	padding: 2rem
}
.resume .title:after{
	display: block;
    position: absolute;
    content: '';
    width: 30px;
    background-color: #007ced;
    height: 2px;
}
.resume .title h1{
	font-size: 1.2rem;
}
.resume .content{
	display: flex;
	flex-flow: column nowrap;
}
.resume .content .item{
	padding-left: 4rem;
}
.resume .content .item .informations{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.resume .content .item .informations .date{
	border-style: solid;
	border-color: #007ced;
	border-radius: 40px;
	padding: 0 0.8rem;
}
.resume .content .item .informations .location{
	padding-left: 0.5rem;
	color: #9e9e9e;
	font-size: 0.8rem;
}
.resume .content .item .details{
	display: flex;
	flex-flow: column nowrap;
	padding: 0.8rem 0 1rem 2rem;
	border-left-style: solid ;
	border-width: 1px;
	margin-left: 2rem;
	border-color: #9e9e9e;
	
}
.resume .content .item .details h1{
	font-size: 1rem;
	margin-left: 0;
}
.resume .content .item .details h2{
	font-size: 0.8rem;
	line-height: 1.4rem;
}
.resume .content .item .empty{
	height: 1rem;
	border-left-style: solid ;
	border-width: 1px;
	border-color: #9e9e9e;
	border-top-style: solid ;
	margin-left: 2rem;
}