.projectInformations{
	margin-top: 1rem;
	margin-left: 2rem;
	max-width: 300px;
	border-style: solid;
	border-width: 1px;
	border-radius: 40px;
	border-color: #444;
	padding: 2rem;
	display: flex;
	flex-flow: column nowrap;
	background-color: #333;
}
.projectInformations span{
	font-size: 0.8rem;
	padding: 0.5rem 0;
}
.projectInformations h1{
	font-size: 1.4rem;
}
.projectInformations h2{
	font-size: 0.8rem;
	padding: 1rem;
}
.projectInformations path{
	color: #007ced;
}
.projectInformations .techno{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.projectInformations .techno span{
	font-size: 0.8rem;
	padding: 2px 4px;
	margin: 4px;
	background-color: #666;
	color: #d5d5d5;

}
